// Base
// *******************************************************************************

body {
  text-rendering: optimizeLegibility;
  font-smoothing: antialiased;
  -moz-font-feature-settings: 'liga' on;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.ti-brand-slack::before{
  vertical-align: initial!important;
}
.bank__name{
 height: 45px;
}
.buttons-bank{
  z-index: 10;
  background: white!important;
  position: relative;
}
.overflow-visible{
  overflow: visible;
}
.last_user--img{
 max-width: 50px;
}
.w-110px{
  width: 110px;
 }
.banco-desabilitado{
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  z-index: 0;
  background-color: rgb(68 68 68 / 88%);
  & .text-body{
    opacity: 0;
  }:hover > .text-body{
    opacity: 1;
  }
}
.btn-close.close-2{
  top: 0rem!important;
  right: 0rem!important;
}
.btn-close.close-3{
  top: 0rem!important;
  right: -2rem!important;
}
.notification__span{
  background-color: $secondary;
    // background: rgb(180, 3, 3);
    height: 25px;
    width: 25px;
    border-radius: 5px;
    color: white;
    display: grid;
    place-items: center;
    top: -5px;
    right: -7px;
    font-size: 14px;
    font-weight: bold;
    box-shadow: 0px 2px 5px 0px rgb(0 0 0 / 34%)
}
.alert-aboslute{
  position: absolute;
  left: 0;
  right: 0;
}
@include media-breakpoint-up(md) {
  button.list-group-item {
    outline: none;
  }
}
@include media-breakpoint-up(sm) {
  .new-alerts{
    position: absolute;
      z-index: 900;
      right: px;
      margin-top: -85px;
      margin-left: -15px;
  }
  .restore-button{
    position: absolute;
    z-index: 20000;
    margin-top: -81px;
    left: 85%;

  }
}
.stepx{
  & .step-trigger{
    flex-wrap: nowrap!important;
    gap: 1rem!important;
    padding: 0.5rem 0!important;
    & .bs-stepper-circle{
      background-color: #f1f0f2!important;
      color: #6f6b7d!important;
      display: flex!important;
      align-items: center!important;
      justify-content: center!important;
      border-radius: 0.375rem!important;
      width: 2.5rem!important;
      height: 2.5rem!important;
      font-size: 1.125rem!important;
      font-weight: 600!important;
    }
    & .bs-stepper-label{
      background-color: #f1f0f2!important;
      color: #6f6b7d!important;
      display: flex!important;
      align-items: center!important;
      justify-content: center!important;
      border-radius: 0.375rem!important;
      width: 2.5rem!important;
      height: 2.5rem!important;
      font-size: 1.125rem!important;
      font-weight: 600!important;
      & .bs-stepper-subtitle{
        font-size: 0.8125rem!important;
        font-weight: 400!important;
        margin-top: 0.25rem!important;
      }
    }
  }
}

// * App Overlay
// *******************************************************************************

.app-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba($black, 0.5);
  visibility: hidden;
  z-index: 3;
  transition: all 0.25s ease;
  &.show {
    visibility: visible;
  }
}

// * Containers
// *******************************************************************************

.container,
.container-fluid,
.container-xxl {
  padding-right: $container-padding-x-sm;
  padding-left: $container-padding-x-sm;

  @include media-breakpoint-up(lg) {
    padding-right: $container-padding-x;
    padding-left: $container-padding-x;
  }
}

// * Thumbnails
// *******************************************************************************

.img-thumbnail {
  position: relative;
  display: block;
  img {
    z-index: 1;
  }
}
.img-thumbnail-content {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  display: block;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  transform: translate(-50%, -50%);

  .img-thumbnail:hover &,
  .img-thumbnail:focus & {
    opacity: 1;
  }
}

// Overlay effect
.img-thumbnail-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: block;
  transition: all 0.2s ease-in-out;

  .img-thumbnail:not(:hover):not(:focus) & {
    opacity: 0 !important;
  }
}

.img-thumbnail-shadow {
  transition: box-shadow 0.2s;

  &:hover,
  &:focus {
    box-shadow: 0 5px 20px rgba($black, 0.4);
  }
}

// Zoom-in effect
.img-thumbnail-zoom-in {
  overflow: hidden;

  img {
    transition: all 0.3s ease-in-out;
    transform: translate3d(0);
  }

  .img-thumbnail-content {
    transform: translate(-50%, -50%) scale(0.6);
  }

  &:hover,
  &:focus {
    img {
      transform: scale(1.1);
    }

    .img-thumbnail-content {
      transform: translate(-50%, -50%) scale(1);
    }
  }
}

// * IE Fixes
// *******************************************************************************

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  // Fix IE parent container height bug when containing image with fluid width
  .card,
  .card-body,
  .media,
  .flex-column,
  .tab-content {
    min-height: 1px;
  }

  img {
    min-height: 1px;
    height: auto;
  }
}

// * RTL
// *******************************************************************************

@if $rtl-support {
  [dir='rtl'] body {
    text-align: right;
    direction: rtl;
  }
}

// * Buy now section
// *******************************************************************************
.buy-now {
  .btn-buy-now {
    position: fixed;
    bottom: 3rem;

    right: $container-padding-x;
    @include rtl-style() {
      left: $container-padding-x;
      right: inherit;
    }
    z-index: $zindex-menu-fixed;
    box-shadow: 0 1px 20px 1px $danger !important;
    &:hover {
      box-shadow: none;
    }
  }
}
